<app-nav></app-nav>

<div class="app-container lg-device" [ngClass]="{'shifted': isDrawerOpen}">
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
    <app-contact-me></app-contact-me>

</div>

<div class="wrapper" [class.open]="isOpen">
    <header id="header" class="header">
        <nav class="menu-navigation">
            <a href="#" class="menu-icon-toggle" (click)="toggleMobileMenu($event)"><span></span></a>
            <i class="menu-background top"></i>
            <i class="menu-background middle"></i>
            <i class="menu-background bottom"></i>
            <ul class="menu">
                <li><a class="home nav-item" routerLink="/home" [routerLinkActive]="['active']">Home</a></li>
                <li><a class="techprofile nav-item" routerLink="/techprofile"
                        [routerLinkActive]="['active']">Profile</a></li>
                <li><a class="showcasework nav-item" routerLink="/showcasework"
                        [routerLinkActive]="['active']">Projects</a></li>
                <li class="nav-right"><a class="home nav-item" routerLink="/blog"
                        [routerLinkActive]="['active']">Blog</a></li>
                <li class="responsive-download-resume"><a href="javascript:void(0);" (click)="downloadResume()">Resume
                        <i class="custom-icon" [ngClass]="['fas', 'fa-file-pdf']" [style.color]="'#1976d2'"></i>
                    </a>

            </ul>

        </nav>
    </header>
    <div class="content">
        <div class="app-container" [ngClass]="{'shifted': isDrawerOpen}">
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
            <app-contact-me></app-contact-me>

        </div>
    </div>
</div>


<!-- <div class="phone-icon-container" [ngClass]="{'hide-icon': isDrawerOpen}">
    <i class="custom-icon" [ngClass]="['fas', 'fa-address-book']" [style.color]="'#1976d2'" (click)="contactMe()"></i>

</div> -->