.app-container {
  @media screen and (min-width: 600px) {
    top: 50px;
  }

  display: flex;
  transition: transform 0.1s ease;
  position: relative;
  overflow-x: hidden;
  z-index: 1;

}

.main-content {
  flex: 1;

  @media screen and (min-width: 600px) {
    padding: 20px;
  }

  transition: transform 0.1s ease;
}

.shifted .main-content {
  transform: translateX(-45px);
}

.phone-icon-container {
  position: fixed;
  /* Fixes the icon in the viewport */
  top: 75px;
  /* Distance from the bottom */
  right: 20px;
  /* Distance from the right */
  z-index: 1000;
  /* Ensures it stays above other elements */
}

.custom-icon {
  font-size: 25px;
  /* Adjust the size as needed */
}

.hide-icon {
  display: none;
}

$indigo: #536dc8;
$danube: #6191d1;
$white: white;
$bermuda: #77D7B9;

body {
  background-image: linear-gradient(to left, $danube, $indigo);
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding: 1em;
    border-radius: 3px;
  }

  .menu-icon-toggle {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 9;

    .home & {
      top: 50px;
      position: absolute;
      right: 20px;
      top: 20px;
    }

    span {
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 50%;
      background-color: rgb(63, 51, 130);;
      transform: translate(0, -50%);
      transition: opacity 0.1s 0.1s;

      .home:not(.open) & {
        background-color: white
      }
    }

    &::before,
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: rgb(63, 51, 130);
      transition: transform 0.1s, top 0.1s 0.1s, bottom 0.1s 0.1s;
    }

    &::before {
      top: 6px;
    }

    &::after {
      bottom: 6px;
    }

    .open & {
      span {
        opacity: 0;
        transition: opacity 0.1s;
      }

      &::before,
      &::after {
        background-color: $danube;
      }

      &::before {
        top: calc(50% - 1px);
        transform: rotate(45deg);
      }

      &::after {
        bottom: calc(50% - 1px);
        transform: rotate(-45deg);
      }

      &::before,
      &::after {
        transition: top 0.1s, bottom 0.1s, transform 0.1s 0.1s;
      }
    }
  }

  .menu-background {
    visibility: hidden;
    width: 300%;
    height: 250px;
    position: fixed;
    left: -130%;
    background-color: white;
    transition: background-position 0.2s, transform 0.2s 0.2s, visibility 0.2s .3s;

    .open & {
      visibility: visible;
      transition: background-position 0.2s, transform 0.2s 0.2s;
    }

    &.top {
      transform: rotate(-45deg) translateY(-150%);
      background: linear-gradient(to top, $danube 50%, $white 50%);
      background-size: 100% 200%;
      background-position: -100% 100%;

      .open & {
        transform: rotate(-45deg) translateY(-49%);
        background-position: 0 0;
      }
    }

    &.middle {
      transform: rotate(-45deg) translateY(50%) scaleY(0);
      background: white;

      .open & {
        transform: rotate(-45deg) translateY(50%) scaleY(1);
      }
    }

    &.bottom {
      transform: rotate(-45deg) translateY(250%);
      background: linear-gradient(to bottom, $white 50%, $danube 50%);
      background-size: 100% 200%;
      background-position: 0 -100%;

      .open & {
        transform: rotate(-45deg) translateY(149%);
        background-position: 0 0;
      }
    }
  }

  .menu {
    @include center;
    visibility: hidden;
    height: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 99999;

    .open & {
      visibility: visible;
      height: auto;

    }

    li {
      opacity: 0;
      margin-bottom: 25px;
      transform: translateX(20px);
      transition: all 0.1s;
      $time-offset-close: 0;

      @for $i from 5 through 1 {
        &:nth-child(#{$i}) {
          $time-offset-close: $time-offset-close + 0.1;
          transition-delay: #{$time-offset-close}s;

          span {
            transition-delay: #{$time-offset-close}s;
          }
        }
      }

      .open & {
        opacity: 1;
        transform: translateX(0);
        backface-visibility: hidden;
        $time-offset-open: 1;

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            $time-offset-open: $time-offset-open + 0.1;
            transition-delay: #{$time-offset-open}s;

            span {
              transition-delay: #{$time-offset-open}s;
            }
          }
        }
      }
    }

    a {
      position: relative;
      font-size: 24px;
      text-decoration: none;
      color: $danube;

      &::before {
        content: '';
        display: block;
        height: 2px;
        width: 0;
        position: absolute;
        left: -30px;
        top: 50%;
        background-color: $danube;
        transform: translateY(-50%);
        transition: width 0.1s;
      }

      &:hover {
        &::before {
          width: 15px;
        }
      }
    }
  }

  .content {
    transition: all 0.1s .3s;
    height: auto;

    .open & {
      opacity: 0;
      height: 0px;
      transition: all 0.1s;
    }
  }

  .lg-device {
    display: none;
    overflow-x: hidden;
  }

}

@media screen and (min-width: 600px) {

  nav,
  ul.menu {
    display: none;
  }
}

// drawer css

// body {
//   font-family: Arial, sans-serif;
// }

.drawer {
  @media screen and (max-width: 600px) {
    display: none;
  }
  z-index: 1000;
  position: fixed;
  top: 0;
  left: -250px; /* Hide off-screen */
  width: 250px;
  height: 100%;
  margin-top:28px;
  background-color: white;
  color: #50c9e1;
  transition: left 0.3s ease;
  padding: 20px;
  // box-shadow: 1px 0 2px rgb(195, 194, 194);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.drawer.open {
  left: 0; /* Slide in */
}
.bdy {
  position: relative;
  transition: transform 0.3s ease-in-out;
  // left: -150px;
}
.drawer.open + .bdy{
  transform: translateX(150px); /* Match the drawer width */
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px; /* Size for the close icon */
  color: #50c9e1;
  cursor: pointer;
  position: absolute;
  top: 5; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
}

.open-btn {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

// h2 {
//     margin-top: 50px; /* Space for the close button */
// }

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  padding-left: 100px;
}

ul li {
  margin: 15px 0;
  cursor: pointer;
}

ul li a {
  color: #50c9e1;
  text-decoration: none;
  line-height: 50px;
 
}

.close-btn:hover {
  opacity: 0.7; /* Change opacity on hover */
}