<div class="drawer" [ngClass]="{'open': isDrawerOpen}">
  <div>
    <!-- <div style="padding: 10px;"> -->
      <div class="contact-options contact-options-bottom " >

      </div>

    <!-- </div> -->
    <div class="contact-options">
      <!-- <a href="#" class="contact-icon">
        <i class="custom-icon" [ngClass]="['fas', 'fa-address-book']" [style.color]="'#1976d2'"
          (click)="closeDrawer()"></i>
      </a> -->
      <!-- <a href="#" class="contact-icon">
        <i class="custom-icon" [ngClass]="['fas', 'fa-bars']" [style.color]="'#1976d2'" (click)="closeDrawer()"></i>
      </a> -->
      <a href="mailto:verma.amit0407@gmail.com" class="contact-icon">
        <i class="custom-icon" [ngClass]="['fas', 'fa-envelope']" [style.color]="'#1976d2'"></i>
      </a>
      <a href="tel:+919172575975" class="contact-icon">
        <i class="custom-icon" [ngClass]="['fas', 'fa-phone']" [style.color]="'#4caf50'"></i>
      </a>
      <a href="https://wa.me/9172575975" class="contact-icon last-item">
        <i class="custom-icon" [ngClass]="['fab', 'fa-whatsapp']" [style.color]="'#25D366'"></i>
      </a>
    </div>

  </div>
</div>