<div class="container">
  <div class="page-header">
    <h3>Detailed Overview of My Professional Project Experience and Achievements</h3>
  </div>

  <div class="projects-container">
    <div *ngFor="let project of projects" class="project-card">
      <div class="accordion-header" (click)="toggle(project)">
        <h4 class="project-title">{{ project.title }}</h4>
        <span class="arrow" [ngClass]="{'open': project.isOpen}">&#9660;</span>
      </div>
      <div class="accordion-content" [ngClass]="{'open': project.isOpen}">
        <h4 class="role"><strong>Role:</strong> {{ project.role }}</h4>
        <h4 class="technologies"><strong>Technologies Used:</strong> {{ project.technologies }}</h4>
        <p class="description" [innerHTML]="project.description | highlight:searchTerms:'lightyellow'"></p>
        <div class="contributions">
          <h4>Key Contributions:</h4>
          <ul>
            <li *ngFor="let contribution of project.contributions" [innerHTML]="contribution | highlight:searchTerms:'lightyellow'"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>