<ul class="topnav" id="myTopnav">
    <!-- <li class="nav-right download-resume" style="width: 75px; margin-right: 10px;">
        <a href="javascript:void(0);" class="contact-icon" (click)="closeDrawer()">
            <i class="custom-icon" [ngClass]="['fas', 'fa-address-book']" [style.color]="'#038cfc'"></i>
        </a>
    </li> -->

    <li class="nav-right download-resume" style="margin-right: 50px;">
        <a class="showcasework nav-item" (click)="downloadResume()">
            Resume
            <i class="custom-icon" [ngClass]="['fas', 'fa-file-pdf']" [style.color]="'#1976d2'"></i>

        </a>
    </li>
</ul>