@import url(./../../styles/animations.scss);

#myTopnav {
  animation: fadeIn 1s ease 0s 1 normal forwards;
  position: fixed;
  height: 50px;
  width: 100vw;
  z-index: 1000;

  @media screen and (max-width: 600px) {
    display: none;
    width: 0px;
  }
  // box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);

}

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

.nav-right {
  float: right;
}

li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover:not(.active) {
  opacity: .65;
}

.active {
  background-color: rgb(0, 122, 204);
}

.icon {
  display: none;
}

.topnav .icon {
  display: none;
}

.responsive-download-resume {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav li:not(:first-child) {
    display: none;
    float: left;
  }

  .topnav li.icon {
    float: right;
    display: block;
  }

  li,
  .nav-right {
    float: none;

    a {
      text-align: left;
    }
  }

  .topnav li:first-child {
    float: left;
  }

  .topnav.responsive li {
    float: none;
    display: block;
    transition: opacity 0.5s ease-in-out;
    text-align: left;

    &.download-resume {
      display: none;
    }
  }

  .responsive-download-resume {
    display: block;
  }
}

.contact-me {
  cursor: pointer;
}

.custom-icon {
  font-size: 20px;
  /* Adjusts the icon size */
  width: 20px;
  /* Sets a specific width */
  height: 20px;
}

li.download-resume a:hover:not(.active) {
  background-color: unset
}
